.footer-custom {
  padding: 20px;
  background-color: #f8f9fa;
}

.footer-col h5 {
  margin-bottom: 10px;
}

.footer-col h6 {
  margin-top: 3rem;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-col ul li a {
  color: gray;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.footer-col .social-links a {
  margin-right: 10px;
  font-size: 40px;
  display: inline-block;
  text-decoration: none;
}
