.step-1 {
  background-color: #ebebeb;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

.step-1-header {
  text-align: left;
  font-size: 1.5rem;
}

.step-2-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.free-delivery {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.checkout {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkoutrow {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
